body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.page-title {
  font-size: 2.9rem;
  margin-top: 20px;
  color: #071952;
}

.post-card .card {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.post-card .card:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #071952;
}

.card-text {
  font-size: 0.95rem;
  color: #088395;
}

.btn-more {
  background-color: #6EACDA;
  border-color: #6EACDA;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 0.9rem;
}

.btn-more:hover {
  background-color: #03346E;
  border-color: #03346E;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 576px) {
  .page-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2.2rem;
  }
}
