<div class="banner" style="background-image: url(https://csis-website-prod.s3.amazonaws.com/s3fs-public/styles/1400x600/s3/2023-11/AdobeStock_643000999_cropped.jpg?VersionId=p0hBQBJLPYB8tdFOqn._N2JS.MGMt_Ay&h=266da715&itok=iAzNTEoy);">
  <div class="container-home">
    <h1>Welcome to SharInfo</h1>
    <p class="slogan">Your favorite posts in one place</p>
    <%= link_to 'All Articles', posts_path %>
  </div>
</div>
