.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar .container-fluid {
  display: flex;
  h5 {
    color: #071952;
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
}

.nav-link {
  color: #071952;
  font-weight: bold;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

